body {
    
    background-color: #f0e8c5;
    text-align: center;
}

#5 {
    margin-top: 15px;
}

.1 {
    
justify-content: space-around;
    display: flex;
}

#imgs {
    
    background-color: #fff;
    background-color: #f0e8c5;
    border-style: dashed;
    padding-top : 25px;
        padding-right : 50px;
padding-bottom : 75px;
padding-left : 100px;
}



#h1{
    font-size: 50px;
    font-family: sans-serif;
    color: greenyellow;   
}
